h1.fancy-header{
    color: slateblue;
    text-align: center;
    font-family:"Academy Engraved LET";
    font-weight: bold;

}
body{
    .background{
    {
        background-image: url("../images/pexels1.jpg");
        background-size: contain;
        opacity: .5;
    }
    }
}

#header{
    background-color: antiquewhite;
    opacity: .6;
}


#slogan{
    font-family: "Roboto Light", serif;
    text-align: center;
}

 h2, h3, h4, h5{
    text-decoration: underline;
    color: forestgreen;
}




table{
    border-color: slateblue;
    border-style: solid;
    border-width: medium;

}
td{
    border-color: slateblue;
    border-style: solid;
    border-width: thin;
}

ul{
    list-style-type: square;
    opacity: 1;
}

ol{
    list-style: upper-roman;
    opacity: 1;
}

