body {

    font-family: 'Oswald', sans-serif;
    font-size: 1em !important;
    background-image: url("../images/pexelsWeather.jpg");
}

#map {
    position: relative;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 80vh;
    margin: 0 auto;
    zoom: inherit;
}


#theMap{
    position: relative;
    margin: 0 auto;
   height: 50%;
    width: 75%;
    margin-left: 26em;
    margin-top: 10em;
    justify-content: center;
    justify-items: center;
}


 .coordinates {
     background: rgba(0, 0, 0, 0.5);
     color: #fff;
     position: absolute;
     bottom: 40px;
     left: 10px;
     padding: 5px 10px;
     margin: 0;
     font-size: 11px;
     line-height: 18px;
     border-radius: 3px;
     display: none;
 }


#Weather\ Data{
    justify-content: space-evenly;

}

#temperature, #wind-speed, #humidity, #weather-description {
    display: flex;
    justify-content: center;
    height: 8em;
    width: 8em;
    justify-self: stretch;
    margin: 0 auto;
}
#Location\ Heading{
    justify-content: center;
    width: 25em

;
}

#location{
    text-align: center;
    font-size: x-large;
    font-family: "Fira Code", "sans-serif";
    background-color: lightgoldenrodyellow;
    height: 5em;
}

#4DayForecast {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

#Day1, #Day2, #Day3, #Day4{
        flex: 1;
        margin: 10px;
        padding: 15px;
        text-align: center;
        background-color: #f0f0f0;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.2);
        overflow: auto;
    justify-content: space-evenly;

    }

#location{
    text-align: center;
    margin-bottom: 2em;
}
