#map {

    position: absolute;
    margin: auto;
    padding: 2em;
    width:75%;
    height: 100%;
}


#theMap{
    position: absolute;
    margin: auto;
   height: 50%;
    width: 75%;
    margin-left: 26em;
    margin-top: 10em;
    justify-content: center;
    justify-items: center;
}


 .coordinates {
     background: rgba(0, 0, 0, 0.5);
     color: #fff;
     position: absolute;
     bottom: 40px;
     left: 10px;
     padding: 5px 10px;
     margin: 0;
     font-size: 11px;
     line-height: 18px;
     border-radius: 3px;
     display: none;
 }

main {
    min-height: 60vh;
    height: auto;
    background-color: #A3C9A8;
}
body {
    background-color: #EAD2AC;
    font-family: 'Oswald', sans-serif;
    font-size: 1em !important;
}

.card{
    height: 5em;
    justify-content: center;
}
#Location\ Heading{
    justify-content: center;
    width: 25em
;
}

#location{
    text-align: center;
    font-size: x-large;
    font-family: "Fira Code";
}